body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f1dcc2;
}

.navbar {
  z-index: 1;
}

.nav-link {
  color: #8d4925;
}

#logoR {
  position: absolute; top: 10px; left: 0; right: 0; bottom: 0;
}

@media (max-width: 995px) {
  #logoR {
    position: absolute; top: 50px; left: 0; right: 0; bottom: 0;
  }
  .navbar-white {
    background-color: #f1dcc2;
  }
}

/* Borde del buscador  */
.form-control:focus {
  border-color: #8d4925;
  box-shadow: 0 0 0 0.2rem rgba(206, 108, 55, 0.25);
}

.banner {
  position: absolute;
  height: 215px;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('img/jumbotron1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

/* Carousel flechas*/
.carousel-control-prev,
.carousel-control-next {
  width: auto;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.carousel-control-prev {
  left: -3rem;
}

.carousel-control-next {
  right: -3rem;
}
/* Logos de las redes sociales */
#redes-sociales {
  display: flex; /* Para centrar el bloque */
  justify-content: center; /* Para centrar horizontalmente */
  align-items: center; /* Para centrar verticalmente */
}

#redes-sociales ul {
  display: flex;
  list-style: none;
  padding: 0;
}

#redes-sociales li {
  margin-right: 10px;
}

#sobre-nosotros h1 {
  font-weight: 800;
  text-align: center;
  color: white;
}
#sobre-nosotros p, li{
  font-size: 20px;
}

/* Estilo para la tabla */
table {
  border-collapse: collapse;
  /* height: 382px; */
  height: 100%;
}

/* Estilo para el encabezado de la tabla */
th {
  background-color: #c57d56ff;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

/* Estilo para la segunda fila de la tabla */
tbody tr:nth-child(1) {
  background-color: white;
}

/* Estilo para la tercera fila de la tabla */
tbody tr:nth-child(2) {
  text-align: center;
  background-color: #c57d56ff;
  color: white;
  font-weight: bold;
}

/* Estilo para todas las celdas de la tabla */
td {
  padding: 10px;
  padding-left: 80px;
  padding-right: 80px;
}
.form {
  background-color: #c57d56;
  padding: 20px;
  margin-top: 50px;
}

.form :placeholder-shown{
  background-color: #f1dcc2;
}

.recetas {
  position: relative;
  z-index: 1;
}

.colores-ingredientes{
  color: #8d4925;
}

#boton-ordenacion{
  color: white;
  text-decoration: none;

}

#boton-ordenacion:hover {
  color: #8d4925; /* Cambia el color a rojo cuando se pasa el cursor por encima */
}

#paginacion{
  color: white;
  text-decoration: none;
}

.carousel {
  display: flex;
  align-items: center;
}

.carousel-link {
  margin-right: 10px;
  text-decoration: none;
  color: #8d4925;
}

.carousel-current {
  font-weight: bold;
  margin-right: 5px;
  color: white; /* Agrega este estilo para que el número aparezca en blanco */
  background-color: rgb(158, 83, 13); /* Agrega este estilo para resaltar el número en azul */
  padding: 5px; /* Agrega un espacio alrededor del número para mejor legibilidad */
  border-radius: 3px; /* Agrega bordes redondeados para resaltar el número */
}
